<div class="edit-product-wrapper">
    <div class="edit-product-con">
        <div (click)="toggleEditProduct()" class="close-btn-con">
            <div>
                <img src="../../assets/maki_cross.svg">
            </div>
        </div>
        <h1>Produkt bearbeiten</h1>
        <h3>Artikelnummer: {{id}}</h3>
        <form (submit)="handleEditProduct($event)">
            <div class="inputs">
                <div class="input-con">
                    <div class="img-con">
                        <img src="../../assets/gg_rename.svg"/>
                    </div>
                    <div class="line"></div>
                    <input (keyup)="setName($event)" value="{{editName}}" id="name" type="text" required placeholder="Produktname"/>
                </div>
                <div class="input-con">
                    <div class="img-con">
                        <img src="../../assets/pepicons-pop_dollar.svg"/>
                    </div>
                    <div class="line"></div>
                    <input (keyup)="setPrice($event)" value="{{editPrice}}" type="number" step=".01" required placeholder="Produktpreis"/>
                </div>
            </div>
            <div id="loading-edit" class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
            <div id="error-edit" class="error-div">
                <p>Ups, es ist ein Fehler aufgetreten... <br> Bitte versuche es später erneut!</p>
            </div>
            <div class="button-con">

                <button>
                    <h2>Speichern</h2>
                </button>
            </div>
        </form>
    </div>
</div>
